#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
#customers td a {
  text-decoration: none;
  text-align: left;
  color: black;
}
button{
	text-decoration:none;
	background-color: #4CAF50;
	color: white;
    width: 25%;
    padding: 20px;
    margin:4px;
    border-radius: 4px;
}