<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login </title>
        <link rel="stylesheet" type="text/css" href="/css/loginForl.css">
    </head>
    <body>
    <div th:text="${#authentication.getPrincipal().getUsername()}">
  The value of the "name" property of the authentication object should appear here.
</div>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/menu}" th:object="${user}" method="post">
            <div><label> User Name : <input th:field="*{username}" type="text" name="username"/> </label></div>
            <div><label> Password: <input th:field="*{password}" type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>