<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Les disponibles</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"href="/css/buildingtable.css">
        </head>
    <body>
    <h5 th:text="${#authentication.getPrincipal().getFirstName()} +' '+ ${#authentication.getPrincipal().getLastName()} + ' '+'rôle :'+${#authentication.getPrincipal().getRole()}"></h5>
        <h2>Liste des Logements Disponible</h2>
        <h5>Si connecter en tant user, cliquer l'ID de la maison dont vous voulez faire une demande de location</h5>
        <table id="customers">
            <tr>
                <th>Id</th>
                <th>typeDebien</th>
                <th>price</th>
                <th>adresse</th>
                <th>nombre de personne</th>
                <th>dispo à partir du</th>
                <th>ajouter par</th>
                
            </tr>
            <tr th:each="product : ${produits}">
                 <td>
                    <a th:if="${#authentication.getPrincipal().getRole().equals('USER')}" th:href="@{'/showOne'(id=${product.getProductId()})}" th:text="${product.getProductId()}"></a>
                  </td>
                 <td th:text="${product.getTypeProperty()}"></td>
                 <td th:text="${product.getPrice()+' € '}"></td>
                 <td th:text="${product.getAdress()}"></td>
                 <td th:text="${product.getNbPers()}"></td>
                 <td th:text="${product.getBeginDate()}"></td>
                 <td th:if="${product.getOwner()}" th:text="${product.getOwner().getFirstName()}"></td>
                 
            </tr> 
        </table>
     
	<!-- getTypeProperty() 
	getPrice() 
	getAdress()
	getNbPers()
	isAvailable() 
	getBeginDate()
	getEndDate() 
	getOwner() 
	getRenter() -->
        <a th:href="@{/}"><button>retour</button></a>
    </body>
</html>